.App {
  text-align: center;
}

/* carrito */
.badge .text-black .ms-1 .rounded-pill{
  border: 3px;
  margin: 10px;
  background-color: white;
}
/* navbar */
.navbar-brand {
  color: black;
  margin: 10px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.tarjeta{
  margin-top: 10px;
  border: solid 2px black;
  width: 25%;
}

.ItemCount{
  margin: 10px;
}
.box{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  border: 1px solid #000;
  width: 10%;
}

.cards {
  margin: 50px;
  border: 3px #000 solid;
  background-color: beige;
  width: 300px;
}
.img {
  width: 250px;
}


/* .columnas {
	color: black; 
	background-color: red;
	background: linear-gradient(red, beige);
}  */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
